@model Alfonso.ViewModels.PaginationInfoViewModel

<div class="row mt-30">
        <div class="col">

            <ul class="pagination">
                <li><a id="Back" asp-route-pageid="@(Model.ActualPage - 1)" style=" @Model.Previous"><i class="fa fa-angle-left"></i>Back</a></li>

                @if (Model.ActualPage != 0)
                {
                    <li><a asp-route-pageid="@(Model.ActualPage-1)">@Model.ActualPage</a></li>
                }

                <li class="active"><a asp-route-pageid="@(Model.ActualPage)">@(Model.ActualPage + 1)</a></li>

                @if ((Model.ActualPage + 1) != (Model.TotalPages))
                {
                    <li><a asp-route-pageid="@(Model.ActualPage+1)">@(Model.ActualPage + 2)</a></li>
                    @if ((Model.ActualPage + 2) != (Model.TotalPages))
                    {
                        <li> - - - - - </li>
                        <li><a asp-route-pageid="@(Model.TotalPages-1)">@(Model.TotalPages)</a></li>
                    }
                }               

                <li><a id="Next" asp-route-pageid="@(Model.ActualPage + 1)" style=" @Model.Next">Next<i class="fa fa-angle-right"></i></a></li>
            </ul>

            @*<span>Showing @Model.ItemsPerPage of @Model.TotalItems products - Page @(Model.ActualPage + 1) - @Model.TotalPages</span>*@

        </div>
</div>