@model Alfonso.ViewModels.CatalogIndexViewModel

<!-- Product Section Start -->
<div class="product-section section mt-10 mb-10">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row mb-10">
                    <div class="col">

                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a class="active" href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>


                            <form method="get" class="ee-register row">

                                <!-- Product Showing -->
                                <div class="product-showing">
                                    <p>Type</p>
                                    <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="nice-select"></select>                                    
                                </div>
                               
                                <!-- Brand Filter -->
                                <div class="product-short">
                                    <p>Brand</p>
                                    <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="nice-select"></select>
                                    <input type="submit" class="btn btn-small button hover-theme" value="Search">
                                </div>

                            </form>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Pages 1 of 25</p>
                            </div>

                        </div>
                        <!-- Shop Top Bar End -->

                    </div>
                </div>

                @*<partial name="_pagination" for="@Model.PaginationInfo" />*@

                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap list row">

                    @if (Model.CatalogItems.Any())
                    {
                        @foreach (var catalogItem in Model.CatalogItems)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 pt-10">

                                <!-- Product Start -->
                                <div class="ee-product">

                                    <!-- Image -->
                                    <div class="image">

                                        <a asp-page="product" asp-route-slug="@catalogItem.Slug" class="img"><img src="@catalogItem.PictureUri" alt="Product Image"></a>

                                        <div class="wishlist-compare">
                                            <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                            <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                        </div>                                                                                 
                                       <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>                                           
                                    </div>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Category & Title -->
                                        <div class="category-title">

                                            <a href="#" class="cat">Laptop</a>
                                            @*<a href="#" class="cat">@tel.Category</a>*@
                                            <h5 class="title"><a asp-page="product" asp-route-slug="@catalogItem.Slug">@catalogItem.Name</a></h5>

                                            <form asp-page-handler="addtocompare" method="post">
                                                <span><input type="submit" class="place-order" value="Add Compare" /></span>                                                
                                                <input type="hidden" asp-for="@catalogItem.Id" name="id" />
                                                <input type="hidden" asp-for="@catalogItem.Name" name="name" />
                                                <input type="hidden" asp-for="@catalogItem.Slug" name="slug" />
                                                <input type="hidden" asp-for="@catalogItem.Description" name="description" />
                                                <input type="hidden" asp-for="@catalogItem.PictureUri" name="pictureUri" />
                                            </form>


                                        </div>

                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">

                                            <h5 class="price">$295.00</h5>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- Product End -->


                                <!-- Product List Start -->
                                <div class="ee-product-list">

                                    <!-- Image -->
                                    <div class="image">
                                        <a asp-page="product" asp-route-slug="@catalogItem.Slug" class="img"><img asp-append-version="true" src="@catalogItem.PictureUri" alt="Product Image"></a>
                                    </div>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Category & Title -->
                                        <div class="head-content">

                                            <div class="category-title">
                                                @*<a href="#" class="cat">@tel.Category</a>*@
                                                <h5 class="title"><a asp-page="product" asp-route-slug="@catalogItem.Slug">@catalogItem.Name</a></h5>
                                            </div>

                                            @*<h5 class="price">VERSUS PUANI :96</h5>*@
                                            <span class="alfonsonumber">96</span>

                                        </div>

                                        <div class="left-content">

                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>

                                            <div class="desc">
                                                <p>@catalogItem.Description.Substring(0, 200)</p>
                                            </div>                                            

                                            <div class="actions">
                                                <form asp-page-handler="addtocompare" method="post">
                                                    <input type="submit" class="alfonso-button" value="Add Compare" />
                                                    <input type="hidden" asp-for="@catalogItem.Id" name="id" />
                                                    <input type="hidden" asp-for="@catalogItem.Name" name="name" />
                                                    <input type="hidden" asp-for="@catalogItem.Slug" name="slug" />
                                                    <input type="hidden" asp-for="@catalogItem.Description" name="description" />
                                                    <input type="hidden" asp-for="@catalogItem.PictureUri" name="pictureUri" />
                                                </form>

                                                <div class="wishlist-compare">
                                                    <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                                    <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="right-content">                                          
                                            <div class="blog-sidebar mb-40">
                                                <div class="tags-alfonso">
                                                    <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">Puan: 9.7<span></a>
                                                    <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">Antutu: 6.3<span></a>
                                                    <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">3000 mAh<span></a>
                                                    <a href="#"><i class="icofont icofont-camera"></i><span class="availability">12MP<span>  </a>
                                                    <a href="#"><i class="icofont icofont-expand"></i><span class="availability">5.8"<span>  </a>
                                                    <a href="#"><i class="icofont icofont-disc"></i><span class="availability">32GB<span>  </a>
                                                    <a href="#"><i class="icofont icofont-hard-disk"></i><span class="availability">4GB<span>  </a>
                                                    <a href="#"><i class="icofont icofont-speed-meter"></i><span class="availability">2.9GHz<span>  </a>
                                                </div>
                                            </div>

                                            @*<span class="availability">Availability: <span>In Stock</span></span>*@
                                        </div>

                                        </div>

                                </div>
                                <!-- Product List End -->

                            </div>
                        }
                    }

                </div>
                <!-- Shop Product Wrap End -->

                <partial name="_pagination" for="@Model.PaginationInfo" />

            </div>

        </div>
    </div>
</div>
<!-- Feature Product Section End -->