@page "/akillitelefon/{slug}"
@model ProductModel
@{
    ViewData["Title"] = "Product Detail";
}

<!-- Single Product Section Start -->
<div class="product-section section mt-10">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-12 mb-10">

                <!-- Image -->
                <div class="single-product-image thumb-right">

                    <div class="tab-content">
                        <div id="single-image-1" class="tab-pane fade show active big-image-slider">
                            <div class="big-image"><img src="~/assets/images/single-product/big-1.png" alt="Big Image"><a href="~/assets/images/single-product/big-1.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-2.png" alt="Big Image"><a href="~/assets/images/single-product/big-2.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-3.png" alt="Big Image"><a href="~/assets/images/single-product/big-3.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                        </div>
                        <div id="single-image-2" class="tab-pane fade big-image-slider">
                            <div class="big-image"><img src="~/assets/images/single-product/big-7.png" alt="Big Image"><a href="~/assets/images/single-product/big-7.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-8.png" alt="Big Image"><a href="~/assets/images/single-product/big-9.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-9.png" alt="Big Image"><a href="~/assets/images/single-product/big-9.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                        </div>
                        <div id="single-image-3" class="tab-pane fade big-image-slider">
                            <div class="big-image"><img src="~/assets/images/single-product/big-13.png" alt="Big Image"><a href="~/assets/images/single-product/big-13.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-14.png" alt="Big Image"><a href="~/assets/images/single-product/big-14.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                            <div class="big-image"><img src="~/assets/images/single-product/big-15.png" alt="Big Image"><a href="~/assets/images/single-product/big-15.png" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
                        </div>
                    </div>

                    <div class="thumb-image-slider nav" data-vertical="true">
                        <a class="thumb-image active" data-toggle="tab" href="#single-image-1"><img src="~/assets/images/single-product/thumb-1.png" alt="Thumbnail Image"></a>
                        <a class="thumb-image" data-toggle="tab" href="#single-image-2"><img src="~/assets/images/single-product/thumb-2.png" alt="Thumbnail Image"></a>
                        <a class="thumb-image" data-toggle="tab" href="#single-image-3"><img src="~/assets/images/single-product/thumb-3.png" alt="Thumbnail Image"></a>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-12">

                <!-- Content -->
                <div class="single-product-content">

                    <!-- Category & Title -->
                    <div class="head-content">

                        <div class="category-title">
                            <a href="#" class="cat">SmartPhone</a>
                            <h5 class="title">@Model.CatalogItem.Name</h5>
                        </div>

                        @*<h5 class="price">$295.00 @Model.CatalogItem.Price</h5>*@
                        <span class="alfonsonumber">96</span>

                    </div>

                    <div class="single-product-description">

                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>

                        <div class="desc">
                            <p>@Model.CatalogItem.Description </p>
                        </div>
                                                
                        <div class="blog-sidebar mb-40">
                            <div class="tags-alfonso">
                                <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">Puan: @Model.CatalogItem.VersusPoint<span></a>
                                <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">Antutu: @Model.CatalogItem.AntutuPoint<span></a>
                                <a href="#"><i class="icofont icofont-battery-half"></i><span class="availability">@Model.CatalogItem.Battery<span></a>
                                <a href="#"><i class="icofont icofont-camera"></i><span class="availability">@Model.CatalogItem.Camera<span>  </a>
                                <a href="#"><i class="icofont icofont-expand"></i><span class="availability">@Model.CatalogItem.Screen<span>  </a>
                                <a href="#"><i class="icofont icofont-disc"></i><span class="availability">@Model.CatalogItem.Storage<span>  </a>
                                <a href="#"><i class="icofont icofont-hard-disk"></i><span class="availability">@Model.CatalogItem.Ram<span>  </a>
                                <a href="#"><i class="icofont icofont-speed-meter"></i><span class="availability">@Model.CatalogItem.CPU<span>  </a>
                            </div>
                        </div>
                        
                        <div class="actions">
                            <form asp-page-handler="addtocompare" method="post">
                                <input type="submit" class="alfonso-button" value="Add Compare" />
                                <input type="hidden" asp-for="@Model.CatalogItem.Id" name="id" />
                                <input type="hidden" asp-for="@Model.CatalogItem.Name" name="name" />
                                <input type="hidden" asp-for="@Model.CatalogItem.Slug" name="slug" />
                                <input type="hidden" asp-for="@Model.CatalogItem.Description" name="description" />
                                <input type="hidden" asp-for="@Model.CatalogItem.PictureUri" name="pictureUri" />
                            </form>

                            <div class="wishlist-compare">
                                <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                            </div>

                        </div>


                        <div class="tags">

                            <h5>Tags:</h5>
                            <a href="#">Electronic</a>
                            <a href="#">Smartphone</a>
                            <a href="#">Phone</a>
                            <a href="#">Charger</a>
                            <a href="#">Powerbank</a>

                        </div>                        

                    </div>

                </div>

            </div>

        </div>
     

    </div>
</div><!-- Single Product Section End -->

<!-- FEATURE LIST AS A COMPONENT -->
<vc:feature-list catalog-item-id="@Model.CatalogItem.Id"></vc:feature-list>

<!-- RELATED PRODUCT AS A COMPONENT -->
<vc:related-products product-id="3"></vc:related-products>

<!-- PARTIAL VIEW AS A MODEL PASSING -->
@*<partial name="TelefonWidget" model="@Model.CatalogItem" />*@

<!-- Related Product Section Start -->
<div class="product-section section mb-70">
    <div class="container">
        <div class="row">

            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" data-title="RELATED PRODUCT"><h1>RELATED PRODUCT</h1></div>
            </div><!-- Section Title End -->
            <!-- Product Tab Content Start -->
            <div class="col-12">

                <!-- Product Slider Wrap Start -->
                <div class="product-slider-wrap product-slider-arrow-one">
                    <!-- Product Slider Start -->
                    <div class="product-slider product-slider-4">

                        <div class="col pb-20 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <a href="single-product.html" class="img"><img src="~/assets/images/product/product-1.png" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="single-product.html">Zeon Zen 4 Pro</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price">$295.00</h5>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->
                        </div>

                        <div class="col pb-20 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <span class="label sale">sale</span>

                                    <a href="single-product.html" class="img"><img src="~/assets/images/product/product-2.png" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <a href="#" class="cat">Drone</a>
                                        <h5 class="title"><a href="single-product.html">Aquet Drone D 420</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price"><span class="old">$350</span>$275.00</h5>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->
                        </div>

                        <div class="col pb-20 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <a href="single-product.html" class="img"><img src="~/assets/images/product/product-3.png" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <a href="#" class="cat">Games</a>
                                        <h5 class="title"><a href="single-product.html">Game Station X 22</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price">$295.00</h5>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->
                        </div>

                        <div class="col pb-20 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <a href="single-product.html" class="img"><img src="~/assets/images/product/product-4.png" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <a href="#" class="cat">Accessories</a>
                                        <h5 class="title"><a href="single-product.html">Roxxe Headphone Z 75</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price">$110.00</h5>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->
                        </div>

                        <div class="col pb-20 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <a href="single-product.html" class="img"><img src="~/assets/images/product/product-5.png" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>

                                    <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <a href="#" class="cat">Camera</a>
                                        <h5 class="title"><a href="single-product.html">Mony Handycam Z 105</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price">$110.00</h5>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->
                        </div>

                    </div><!-- Product Slider End -->
                </div><!-- Product Slider Wrap End -->

            </div><!-- Product Tab Content End -->

        </div>
    </div>
</div><!-- Related Product Section End -->
<!-- Brands Section Start -->
<div class="brands-section section mb-90">
    <div class="container">
        <div class="row">

            <!-- Brand Slider Start -->
            <div class="brand-slider col">
                <div class="brand-item col"><img src="~/assets/images/brands/brand-1.png" alt="Brands"></div>
                <div class="brand-item col"><img src="~/assets/images/brands/brand-2.png" alt="Brands"></div>
                <div class="brand-item col"><img src="~/assets/images/brands/brand-3.png" alt="Brands"></div>
                <div class="brand-item col"><img src="~/assets/images/brands/brand-4.png" alt="Brands"></div>
                <div class="brand-item col"><img src="~/assets/images/brands/brand-5.png" alt="Brands"></div>
            </div><!-- Brand Slider End -->

        </div>
    </div>
</div><!-- Brands Section End -->
<!-- Page Banner Section Start --> <!-- REKLAM ICIN -->
<partial name="_banner" model="@("For Advertisement")" />
<!-- Page Banner Section End -->
<!-- Subscribe Section Start -->
<div class="subscribe-section section bg-gray pt-55 pb-55">
    <div class="container">
        <div class="row align-items-center">

            <!-- Mailchimp Subscribe Content Start -->
            <div class="col-lg-6 col-12 mb-15 mt-15">
                <div class="subscribe-content">
                    <h2>SUBSCRIBE <span>OUR NEWSLETTER</span></h2>
                    <h2><span>TO GET LATEST</span> PRODUCT UPDATE</h2>
                </div>
            </div><!-- Mailchimp Subscribe Content End -->
            <!-- Mailchimp Subscribe Form Start -->
            <div class="col-lg-6 col-12 mb-15 mt-15">

                <form class="subscribe-form" action="#">
                    <input type="email" autocomplete="off" placeholder="Enter your email here" />
                    <button>subscribe</button>
                </form>
                <!-- mailchimp-alerts Start -->
                <div class="mailchimp-alerts text-centre">
                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                </div><!-- mailchimp-alerts end -->

            </div><!-- Mailchimp Subscribe Form End -->

        </div>
    </div>
</div><!-- Subscribe Section End -->
<!-- OVERRIDE LAYOUT SECTIONS -->
@section FooterBottom {
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section">
        <div class="container">
            <div class="row">

                <!-- Footer Copyright -->
                <div class="col-lg-6 col-12">
                    <div class="footer-copyright"><p>&copy; Copyright, 2019 All Rights Reserved by Mehmet Ozkaya</p></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Bottom Section Start -->
}