@model IEnumerable<Alfonso.ViewModels.FeatureViewModel>
@{
    ViewData["Title"] = "My Feature List";
}



<!-- Faq Section Start -->
<div class="faq-section section">
    <div class="container">
        <div class="row row-25">

            <div class="col-lg-6 col-12 mb-50">

                <div class="faq-wrap">

                    <div class="single-faq">

                        @{int rowCount = int.Parse(Math.Ceiling(((decimal)Model.Count() / 2)).ToString());}

                        @for (int i = 0; i < rowCount; i++)
                        {                            

                        <h4>@Model.ElementAt(i).Name</h4>

                            <div class="checkout-cart-total">
                                <ul>
                                    @foreach (var item in @Model.ElementAt(i).Items)
                                    {
                                        <li>@item.Name <span>@item.Value</span></li>
                                    }
                                </ul>
                            </div>
                        }                       

                    </div>                 
                </div>

            </div>

            <div class="col-lg-6 col-12 mb-50">

                <div class="faq-wrap">

                    <div class="single-faq">

                        @for (int i = rowCount; i < Model.Count(); i++)
                        {                                                        

                            <h4>@Model.ElementAt(i).Name</h4>

                            <div class="checkout-cart-total">
                                <ul>
                                    @foreach (var item in @Model.ElementAt(i).Items)
                                    {
                                        <li>@item.Name <span>@item.Value</span></li>
                                    }
                                </ul>
                            </div>
                        }

                      
                    </div>                                       

                </div>

            </div>


        </div>
    </div>
</div>
<!-- Faq Section End -->
