@model Alfonso.Pages.Compare.CompareViewModel
@{
    ViewData["Title"] = "My Compare List";
}





    <!-- Mini Cart Wrap Start -->
    <div class="mini-cart-wrap">

        <!-- Mini Cart Top -->
        <div class="mini-cart-top">
            @*<button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>*@
            <span>Compare Box</span>            
        </div>

        <!-- Mini Cart Products -->
        <ul class="mini-cart-products">

            @if (Model.Items.Any())
            {
                @foreach (var compareItem in Model.Items)
                {
                    <li>
                        <a asp-page="product" asp-route-slug="@compareItem.Slug" class="image"><img src="@compareItem.PictureUrl" alt="@compareItem.ProductName"></a>

                        <form asp-page-handler="removetocompare" method="post">
                            <button class="remove"><i class="fa fa-trash-o"></i></button>
                            <input type="hidden" asp-for="@Model.Id" name="compareId" />
                            <input type="hidden" asp-for="@compareItem.Id" name="compareItemId" />
                        </form>

                        <div class="content">
                            <a asp-page="product" asp-route-slug="@compareItem.Slug" class="title">@compareItem.ProductName</a>                            
                        </div>
                    </li>
                }
            }
        </ul>

        <!-- Mini Cart Bottom -->
        <div class="mini-cart-bottom">
            <h4 class="sub-total">Total: <span>$1160</span></h4>
            <div class="button">
                <a asp-page="/Compare/Index" asp-route-slug="@Model.Slug">COMPARE</a>
            </div>
        </div>

    </div>
    <!-- Mini Cart Wrap End -->
    <!-- Cart Overlay -->
    <div class="cart-overlay"></div>
